@model WebApplication1.Models.ACategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
