@model IEnumerable<WebApplication1.Models.AItem>

@{
    ViewBag.Title = "Index";
}

<h2>List of Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sold_qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sales_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACategory.cat_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anshuja.fname)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sold_qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sales_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACategory.cat_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anshuja.fname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
